<a href="https://colab.research.google.com/github/DavidMolta18/CheatSheet-PL-SQL/blob/main/CheatSheet__PL_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<center> **PL/SQL CHEAT-SHEET**</center>
---

##**1) Blocks description**



>Each block in PL/SQL is divided in three sub-parts:

* **Declarations**

>This section has the keyword **DECLARE**.It is **NOT** a **MANDATORY SECTION** and it's used to define all the: Variables, cursors, subprograms and other elements that are going to be used in the program.

* **Executable Commands**

>In this section, we have all the executable commands.The keywords here are: **BEGIN** and **END** and it's a **MANDATORY SECTION**. It should have at least **ONE** line of code, which can be a NULL COMMAND to indicate that nothing is going to be executed

* **Exception Handling** 

>In this section you have to use the keyword **EXCEPTION**, then you should input all the exceptions that are going to handle errors in the program.

##**Block section examples**

> 
  **DECLARE**

  message varchar2(20):= "Que felicidad!"

  **BEGIN**

  dbms_output.put_line(message); 

  **END;**

###**Another example**

**DECLARE**

  number NUMBER := -5

**BEGIN**

  IF number >=0 THEN 
  dbms_output.put_line(It's a positive number);

  ELSE

   dbms_output.put_line(It's a negative number);

 END IF

**END**

---
##**2) Variables and constants**

This is the basic syntaxis to declare a variable. You must know that this declaration must be done on the DELCARATION SECTION on the BLOCK.

>variable_name **[CONSTANT]** datatype **[NOT NULL]**
 **[:= | DEFAULT initial_value]**

 Note: constrained declarations require less memory than unconstrained declarations

 You can initialize variables by using the **assignment operator** := or using the **DEFAULT keyword**. For example:

>counter binary_integer := 0; 

>greetings varchar2(20) DEFAULT 'Have a Good Day';

**EXAMPLE**

DECLARE 

   **a integer := 10;** 

   **b integer := 20;** 

   **c integer;** 

   **f real;** 

BEGIN 

   **c := a + b;** 

   dbms_output.put_line('Value of c: ' || c); 

   **f := 70.0/3.0;** 

   dbms_output.put_line('Value of f: ' || f); 

END; 

When executed this program will return the following messages:

**Value of c:** 30 

**Value of f:** 23.333333333333333333  


**PL/SQL procedure successfully completed.**


FOR CONSTANTS you must only add the **CONSTANT** keyword.
examples:


DECLARE

   > initial_message CONSTANT VARCHAR2(20) := 'Hola mundo';

   > PI CONSTANT NUMBER(10,2) := 3.1416;

   > my_birthday CONSTANT DATE := '18-FEB-2002';


---
##**3) Control instructions**


* **IF-THEN**

>**IF** condition **THEN**

>S;

>**END IF;**
---
* **IF-THEN-ELSE**

>**IF** condition **THEN**

>S1;

>**ELSE**

>S2;

>**END IF;**
---
* **IF-THEN-ELSIF**

>**IF** condition **THEN**

>S1;

>**ELSIF** condition2 **THEN**

>S2;

>**ELSIF** condition3 **THEN**

>S3;

>**ELSE**

>Executes when none of the above are true

>**END IF;**
---
* **CASE**

>**CASE** selector

>**WHEN** 'value1'  **THEN** S1

>**WHEN** 'value2'  **THEN** S2

>**WHEN** 'value3'  **THEN** S3

>**ELSE** Sn;

>**END CASE;**
---
* **SEARCHED CASE STATEMENT**

>**CASE** 

>**WHEN** selector = 'value1'  **THEN** S1

>**WHEN** selector ='value2'  **THEN** S2

>**WHEN** selector ='value3'  **THEN** S3

>**ELSE** Sn;

>**END CASE;**
---
* **NESTED IF-THEN-ELSE**

>**IF** condition **THEN**
 
          >**IF** condition_inside_the_first_if **THEN**

          >S;

          >**END IF**

>**END IF;**
---
##**4) PROCEDURE//FUNCTIONS**

###**Difference between procedures and functions**

**Functions:** These subprograms return a single value; mainly used to compute and return a value.

**Procedures:** These subprograms do not return a value directly; mainly used to perform an action.

###**Creating a procedure**

**CREATE** [OR REPLACE] **PROCEDURE** procedure_name [(parameter_name [IN | OUT | IN OUT ] type  [, ... ]  ) ] 
{IS | AS}

**BEGIN**

procedure body

**END procedure_name**


Example: 

**CREATE OR REPLACE PROCEDURE** blabla

AS 

**BEGIN** 

   dbms_output.put_line('It's hot in here'); 

**END;** 


We can call procedures with the reserved word EXECUTE or calling the name inside a PL/SQL block. For example: 

> If we want to call the procedure blabla that we just created we can do:

>EXECUTE greetings;

> Or inside a block like 

>**BEGIN**

>blabla;

>**END**

###**Deleting a Standalone Procedure**

>**DROP**   **PROCEDURE** procedure_name;

###**Parameter Mode in PL/SQL Subprograms**

>**IN**

>Inside the subprogram, an IN parameter acts like a constant. It cannot be assigned a value.

>**OUT**

>An OUT parameter returns a value to the calling program.



EXAMPLE:

DECLARE 

   a number; 

   b number; 

   c number;

PROCEDURE findMin(x IN number, y IN number, z OUT number) IS 

BEGIN 

  >IF x < y THEN 

  >z:= x; 

  > ELSE 

 > z:= y; 

  > END IF; 

>END;   

> **TESTING THE PROGRAM**

>BEGIN 

  > a:= 23; 

  > b:= 45; 

  > findMin(a, b, c); 

 >  dbms_output.put_line(' Minimum of (23, 45) : ' || c); 

>END; 

>**IN OUT**

>An IN OUT parameter passes an initial value to a subprogram and returns an updated value to the caller. 

>DECLARE 

 >  a number; 

>PROCEDURE squareNum(x IN OUT number) IS 

>BEGIN 

  >x := x * x; 

>END;  

> **TESTING THE PROGRAM**

>BEGIN 

  > a:= 23; 

 >  squareNum(a); 

 > dbms_output.put_line(' Square of (23): ' || a); 

>END; 


##**Functions**



**CREATE** [OR REPLACE] **FUNCTION** function_name 
[(parameter_name [IN | OUT | IN OUT] type [, ...])] 
**RETURN** return_datatype 
{IS | AS} 
**BEGIN**
   < function_body > 
**END** [function_name];

>DECLARE 

  > a number; 

  > b number; 

  > c number; 

>FUNCTION findMax(x IN number, y IN number)  

>RETURN number 

>IS 

   > z number; 

>BEGIN 

   >IF x > y THEN 

> z:= x; 

  > ELSE 

>  Z:= y; 

  > END IF;  

   >RETURN z; 

>END; 

>**TESTING THE FUNCTION**

>BEGIN 

  > a:= 23; 

  > b:= 45;  

  > c := findMax(a, b); 

  > dbms_output.put_line(' Maximum of (23,45): ' || c); 

>END;

# **Excepctions**

In PL/SQL we will do an exception control like in other programming languages. Specifically, in PL/SQL a block always terminates when an exception is raised. PL/SQL has exception like: *NO_DATA_FOUND*. An exception declared for users is defined in the declarative part of a PL/SQL block.

#### **Exceptions types:**
In PL/SQL we have differents exception types, these are:

* Internally defined: The runtime systems raises internally defined exceptions implicity (automatically). Someone examples are: ORA-00060 (deadlock detected while waiting for resources) and ORA-27102 (out of memory). An internally defined exception always has an error code, but does not have a name unless PL/SQL gives it one or you give it one. [More information](https://docs.oracle.com/en/database/oracle/oracle-database/19/lnpls/plsql-error-handling.html#GUID-4F0787E6-ABCA-4860-A28E-435C7FE15154)

* Predefined: A predefined exception is an internally defined exception that PL/SQL has given name. For example: ORA-06500 (PL/SQL:storage error) has the predefined name *STORAGE_ERROR*. [More information](https://docs.oracle.com/en/database/oracle/oracle-database/19/lnpls/plsql-error-handling.html#GUID-8C327B4A-71FA-4CFB-8BC9-4550A23734D6) 

* User-defined: You can declare your own exceptions in the declarative part of any PL/SQL anonymous block, subprogram or package. For example, you might declare an exception named *insufficient_funds* to flag overdrawn bank accounts. [More information](https://docs.oracle.com/en/database/oracle/oracle-database/19/lnpls/plsql-error-handling.html#GUID-8844A6D8-FE6F-4DFF-B449-59AB076316C1)

## **Examples of Exception**

**Internally defined**


```
DECLARE
  deadlock_detected EXCEPTION;
  PRAGMA EXCEPTION_INIT(deadlock_detected, -60);
BEGIN
  ...
EXCEPTION
  WHEN deadlock_detected THEN
    ...
END;
/
```
In this case in PRAGMA EXCEPTION_INIT line we put the (exception_name,error_code).

**Predefined**
```
DECLARE
  stock_price   NUMBER := 9.73;
  net_earnings  NUMBER := 0;
  pe_ratio      NUMBER;
BEGIN
  pe_ratio := stock_price / net_earnings;  -- raises ZERO_DIVIDE exception
  DBMS_OUTPUT.PUT_LINE('Price/earnings ratio = ' || pe_ratio);
EXCEPTION
  WHEN ZERO_DIVIDE THEN
    DBMS_OUTPUT.PUT_LINE('Company had zero earnings.');
    pe_ratio := NULL;
END;
```
The predefined exception are defined exceptions, in this case the exception is "ZERO_DIVIDE".

**User defined**



```
DECLARE
  default_number NUMBER := 0;
  i NUMBER := 5;
  invalid_number EXCEPTION;    -- redeclare predefined exception
BEGIN
  INSERT INTO t VALUES(TO_NUMBER('100.00', '9G999'));
EXCEPTION
  WHEN STANDARD.INVALID_NUMBER THEN
    DBMS_OUTPUT.PUT_LINE('Substituting default value for invalid number.');
    INSERT INTO t VALUES(default_number); 
END;
```

In this case invalid_number is a predefined exception but we can overwrite. When we do it, we add in EXCEPTION part "*STANDAR.Exception_name*"